body, html
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #0bbd97;
}

form
{
    background-color: rgb(33, 37, 41);
}

.addBook
{
    color: white;
}

.btn-add
{
    background-color: #03C988;
    border: 0;

}

.actionForm
{
    background-color: transparent;
}

.btn-add:hover
{
    background-color: #029d69;
}

.bookDetails
{
    background-color: #0D9276;
}

@media  screen and (max-width: 767px)
{
    .item
    {
        flex-direction: column;
        align-items: center;
    }
    
    .info
    {
        align-items: center;
    }

    .bookCover
{
    height: 30vh;
    width: 20vh;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
}

@media screen and (min-width: 768px)
{

    .bookCover
    {
        height: 30vh;
        width: 20vh;
        border-right: 1px solid white;
        margin-right: 5px;
        padding-right: 5px;
    }

}